.homeContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
    margin: auto 0;
}

.greetings {
    width: 100%;
    padding: 0 0 0 100px;
}

.homeText {
    margin: 40px 0;
}

.homeText p {
    margin: 20px 0;
    font-size: 25px;
    font-family: $body-font;
}

.homeText h1 {
    font-size: 50px;
    font-family: $heading-font;
}

.homeBtn {
    display: flex;
}

.techImg {
    width: 100%;
    display: flex;
    justify-content: center;
}

.techImg img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

@media all and (max-width: 768px) {
    .homeContainer {
        display: flex;
        max-width: 1024px;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .greetings {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 0 40px;
    }

    .techImg {
        display: none;
    }
}

@media all and (max-width: 500px) {
    .homeBtn {
        flex-wrap: wrap;
    }
}