@import url('https://fonts.googleapis.com/css2?family=Wendy+One:wght@400&family=Vidaloka:wght@400&display=swap');

// colors 
$primary-color: #082E4E;
$secondary-color: #DB0C9B;
$dark-mode: #082E4E;
$text-color: #e0e0e0;

// font family
$heading-font: 'Wendy One', sans-serif;
$body-font: 'Vidaloka', serif;