.contact{
    width: 100%;
    
}
.contact-container{
    /* border: 1px solid black; */
    width: 90%;
    height: auto;
    margin: 100px auto;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -3px -3px 7px rgb(185, 179, 179), 3px 3px 5px #E87DA4;
    border-radius: 15px;
    background: rgba(204, 191, 191, 0.1);
}
.sub-container1{
    width: 100%;
}
.sub-container1 h4{
    padding: 20px 0;
}
.sub-container1 ul li{
    padding: 10px 0;
}
.sub-container1 .socials{
    display: flex;
    justify-content: center;
}
.sub-container1 .socials li{
    padding: 15px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: -3px -3px 7px #ffff, 3px 3px 5px #E87DA4;
}
.sub-container1 .socials li a{
    color: black;
    font-size: 25px;
}
.sub-container2{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sub-container2 form{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.sub-container2 form input{
    margin: 15px 0;
    padding: 15px;
    outline: none;
    background: transparent;
    border: 1px solid black;
}
.sub-container2 textarea{
    height: 200px;
    padding: 15px;
    outline: none;
    background: transparent;
    border: 1px solid black;
}
.sub-container2 .submit{
    background: #E87DA4;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: -3px -3px 7px rgb(212, 202, 202), 3px 3px 5px #bd6f8c;
    
}
.sub-container2 .submit:hover{
    cursor: pointer;
}
@media all and (max-width: 600px){
    .contact-container{
        flex-wrap: wrap;
    }
}