.container{
    width: 100%;
    height: 100vh;
    background-image:url(../../public/landing.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Special Elite', cursive;
}
.left-container{
    /* height: 80vh; */
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    padding: 100px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(255, 255, 255 0.05);
    width: auto;
    margin: auto;
    letter-spacing: 1px;
    font-size: 30px;
    z-index: 4;
    backdrop-filter: blur(2rem);
}
.left-container span{
    color: #E87DA4;
}
.left-container button{
    height: 40px;
    width: 150px;
    background: #E87DA4;
    border-radius: 15px;
    border: none;
    outline: none;
    margin-top: 20px;
    text-align: center;
}
.left-container button a{
    color: #000;
    font-family: 'Special Elite', cursive;
    font-size: 16px;
}
.left-container h1,h3,p,button{
    padding: 10px 0;
}
.right-container{
    position: absolute;
    opacity: .1;
    top: 10;
    /* z-index: 1; */
}
.circle1,
.circle2{
    position: absolute;
    background: #fff;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
    z-index: 2;
}
.circle1{
    top: 15%;
    left: 73%;
}
.circle2{
    top: 75%;
    left: 15%;
}
