@import "./styles/variables/variables.scss";
@import "./styles/components/navBar.scss";
@import "./styles/pages/home.scss";

.app{
    background-color: $primary-color;
    height: 100vh;
    color: $text-color;
}