@import "./styles/variables/variables.scss";

// components css
@import "./styles/components/navBar.scss";
@import "./styles/components/button1.scss";

// pages css
@import "./styles/pages/home.scss";

.app{
    background-color: $primary-color;
    height: 100vh;
    color: $text-color;
    overflow-x: hidden;
}