body {
  margin: 0;
  background-color: rgba(197, 116, 143, 0.3);
  background-attachment: fixed;
  font-family: 'Special Elite', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
